@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --main-color: #C70E0E;
    --black-color: #252525;
    --white-color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant', serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.4s ease;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.6rem;
    background-color: black;
}

html::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 3rem;
}

html::-webkit-scrollbar-track {
    background-color: var(--main-color);
}

body {
    background-color: var(--black-color);
}

section {
    padding: 0 7%;
}

button {
    background-color: transparent;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1.5rem 6rem;
    border-radius: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--white-color);
    color: var(--main-color);
}

/* Header Start */

.header .logo {
    width: 20rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 7%;
    overflow: hidden;
    transition: 0.4s;
    position: sticky;
    top: 0;
    z-index: 99;
}

.header .site-nav a {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--white-color);
    margin: 0 1rem;
    text-transform: uppercase;
}

.header .site-nav a:hover {
    color: var(--main-color);
}

.header .buttons button {
    font-size: 2.5rem;
    color: var(--white-color);
    margin-left: 2rem;
    cursor: pointer;
    background-color: transparent;
}

.site-nav {
    text-transform: uppercase;
    background-color: var(--black-color);
    padding: 5rem;
    position: fixed;
    top: 0;
    right: -100%;
    transition: all 0.8s ease-in-out;
    height: 100%;
    z-index: 200;
}

.site-nav.active {
    right: 0;
}

.site-nav a {
    margin: 3rem 0;
    font-size: 2rem;
    font-weight: 500;
    display: block;
    border-bottom: 0.2rem solid var(--main-color);
    padding-bottom: 1rem;
}

.site-nav a:hover {
    color: var(--main-color);
}

.site-nav #menu-exit {
    color: var(--white-color);
    font-size: 1.5rem;
    margin-left: 15rem;
    cursor: pointer;
}

/* Header Responsive */

.header .search-form {
    position: absolute;
    top: 40%;
    right: 15%;
    background-color: white;
    width: 30rem;
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    transform: scaleY(0);
}

.header .search-form.active {
    transform: scaleY(1);
    transition: all 0.3s ease;
    z-index: 200;
}

.header .search-form input {
    width: 100%;
    font-size: 1.3rem;
    padding-left: 2rem;
    background-color: transparent;
}

.header .search-form i {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--black-color);
}

/* Header End */

/* Hakk覺m覺zda Start */

.haberler {
    margin-top: 1rem;
    margin-bottom: 10rem;
}

.haberler .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.haberler .buttons .btn {
    background-color: var(--main-color);
    border-radius: 0;
}

.haberler .buttons .btn:hover {
    background-color: var(--white-color);
    color: var(--main-color);
}

.haberler-container .box {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0;
}

.haberler-container .box .image {
    flex: 1 40rem;
    border: 0.1rem solid var(--main-color);
}

.haberler-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.haberler-container .box .content {
    flex: 1 40rem;
    background-color: var(--white-color);
    border: 0.1rem solid var(--main-color);
}

.haberler-container .box .content .content-head {
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    padding: 1% 2%;
}

.haberler-container .box .content .content-head i {
    font-size: 3rem;
    margin-right: 2%;
}

.haberler-container .box .content .content-head h2 {
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: var(--white-color);
    padding-top: 1%;
    padding-bottom: 1%;
}

.haberler-container .box .content p {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 2% 10%;
    line-height: 1.4;
}

#turnelerimiz {
    display: none;
}

#istatistikler {
    display: none;
}

#salonlarimiz {
    display: none;
}

.haberler .haberler-container .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.haberler .haberler-container .row .row-content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--white-color);
    border: 0.1rem solid var(--main-color);
}

.haberler .haberler-container .row .row-content h4 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.haberler .haberler-container .row .row-content h5 {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--black-color);
    margin-bottom: 1rem;
}

.haberler .haberler-container .column {
    margin-top: 1rem;
}

@media (max-width: 900px) {
    .haberler .haberler-container .column td, tr, th {
        font-size: 80%;
    }
}

table { 
    width: 100%; 
    border-collapse: collapse; 
}

  /* Zebra striping */
tr:nth-of-type(odd) { 
    background: rgb(227, 227, 227); 
}

th { 
    background: var(--main-color); 
    color: var(--white-color); 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

td, th { 
    padding: 0.5rem; 
    border: 0.1rem solid grey; 
    text-align: left;
    font-family: 'Montserrat', sans-serif;   
}

tr {
    background: white;
}

.salon {
    margin-top: 1rem;
    padding: 0 12%;
}

@media (max-width:900px) {
    .salon {
        padding: 0 2%;
    }
}

#myImg, #yourImg, #hisImg, #herImg, #theyImg, #themImg {
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  #yourImg:hover {opacity: 0.7;}
  #hisImg:hover {opacity: 0.7;}
  #herImg:hover {opacity: 0.7;}
  #theyImg:hover {opacity: 0.7;}
  #themImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10rem; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

 
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 80rem;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 80rem;
    text-align: center;
    color: #ccc;
    padding: 1rem 0;
    height: 15rem;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */


  .close, .exit, .kapa, .shut, .bitir, .final {
    position: absolute;
    top: 7%;
    left: 90%;
    color: var(--white-color);
    font-size: 10rem;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
  }

  .exit:hover,
  .exit:focus {
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
  }

  .kapa:hover,
  .kapa:focus {
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
  }

  .shut:hover,
  .shut:focus {
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
  }

  .bitir:hover,
  .bitir:focus {
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
  }

  .final:hover,
  .final:focus {
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

.haberler .haberler-container .salon .salon-box .salon-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.haberler .haberler-container .salon .salon-box .salon-image img {
    border: 0.1rem solid var(--main-color);
    flex: 1 40rem;
}

.haberler .haberler-container .salon .salon-box h3 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white-color);
    padding: 1rem;
    color: var(--main-color); 
}

.haberler .haberler-container .salon .salon-box .salon-image .salon-image-bottom {
    display: flex;
    align-items: center;
}

.haberler .haberler-container .salon .salon-box .salon-image .salon-image-bottom i {
    font-size: 2.5rem;
    color: var(--main-color);
    margin-right: 3%;
}

.haberler .haberler-container .salon .salon-box p {
    font-size: 1.8rem;
    color: var(--white-color);
}

/* Hakk覺m覺zda End */


/* Footer Start */

.footer {
    margin-top: 15rem;
    padding: 3% 7%;
    border-top: 0.1rem solid var(--main-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer .logo {
    width: 12rem;
}

.footer .links a {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--white-color);
    margin: 0 1rem;
    text-transform: uppercase;
}

.footer .links a:hover {
    color: var(--main-color);
}

.footer .share {
    display: flex;
    align-items: center;
}

.footer .share .social {
    padding-right: 2rem;
}

.footer .share .social a {
    font-size: 2rem;
    margin: 0 1rem;
    background-color: transparent;
}

.footer .share .social a:hover {
    color: var(--main-color);
}

.footer .share .bilet .ticket {
    width: 15rem;
}

.footer .share .bilet .ticket:hover {
    opacity: 0.8;
}

.credit {
    text-align: center;
    font-size: 1rem;
    color: var(--white-color);
    font-family: 'Montserrat', sans-serif;
    padding: 5% 15% 1% 5%;
}

.credit a {
    text-align: center;
    font-size: 1rem;
    color: var(--white-color);
    font-family: 'Montserrat', sans-serif;
}

.credit a:hover {
    color: var(--main-color);
}

/* Footer End */

/* Responsive Section */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header .logo {
        width: 15rem;
    }
}

@media (max-width: 950px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 3% 3%;
    }

    .footer .links {
        display: flex;
        flex-direction: column;
        margin: 5% 0 5% 0;
    }

    .footer .links a {
        margin-bottom: 10%;
    }

    .credit {
        padding: 5% 0 1% 0;
    }

    .footer .share {
        display: flex;
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .footer .share .social {
        flex: 1;
    }

    .footer .share .bilet {
        flex: 1;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 50%;
    }

    .header .logo {
        width: 11rem;
    }

    .people .row .danisman h4 {
        top: 70%;
        left: 10%;
    }
}